html {
    scroll-padding-top: 100px;
}


:root {
    --bg-overlay-color: #2f3e2e;
    --bg-section-1: #34453d;
    --bg-section-2: #2b362d;
    --bg-section-3: #4c5a47;
}

#importancia {
    background-color: var(--bg-section-1);
    padding: 20px;
}

#noticias {
    background-color: var(--bg-section-2);
    padding: 20px;
}

#ubicacion {
    background-color: var(--bg-section-3);
    padding: 20px;
}

body {
    background-color: var(--bg-overlay-color);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url('../images/imagen10.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ratio {
    width: 90%;
    margin: auto;

}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


#contaminacion {
    background-color: var(--bg-overlay-color);
    padding: 40px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 1;
}

.carousel-inner {
    border-radius: 10px;
}

.carousel {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.carrusel-img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

#carruselContaminantes .carousel-item {
    height: 500px;
    overflow: hidden;
}

#carruselContaminantes .carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}